/* .Bmi{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(130, 168, 86);
}
h1{
    text-align: center;
    background-color: rgb(221, 137, 34);
    
}
label{
    display: block;
    font-weight: bold;
    margin-left: 550px;
    font-size: 20px;
    margin-top: 15px;
 
}
input{
    border-radius: 10px;
    padding: 7px;
    margin-left: 550px;
}
button{
    border-radius: 10px;
    padding: 7px;
    margin-left: 550px; 
   background-color: rgb(61, 241, 106);
}
p{
  margin-left: 550px;  
  font-size: 20px;
} */